.admin-dashboard-layout {
  min-height: 100vh;
  display: flex; /* Ensure the layout stays aligned */
  position: relative;
}

.admin-dashboard-sider {
  background: #00bba6;
  height: 100vh; /* Full height to match the viewport */
  position: fixed; /* Fix the sidebar position */
  top: 0;
  left: 0; /* Position on the left */
  overflow-y: auto; /* Allow scrolling for long content */
  width: 200px; /* Match the Ant Design default sider width */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow on the right */
  z-index: 1000; /* Ensure it appears above content */
}

.admin-dashboard-layout .ant-layout {
  margin-left: 200px; /* Match the fixed sidebar width */
}

.admin-logo {
  height: 64px;
  margin: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customlinkfontsize {
  font-size: 14px !important; /* Adjust font size as needed */
}

.admin-dashboard-header {
  background: #00bba6;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow at the bottom */
}

.admin-dashboard-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ant-menu-item {
  margin: 0;
  padding: 0 20px;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: #ffffff !important;
}

.ant-menu-item a {
  color: inherit;
  font-size: 16px;
}

.ant-menu-item .anticon {
  margin-right: 8px;
}

.custom-admin-menu {
  background-color: #00bba6; /* Menu background */
}

.custom-admin-menu .ant-menu-item {
  color: #fff; /* Default text color */
}

.custom-admin-menu .ant-menu-item-selected {
  background-color: white !important; /* Active item background */
  color: black !important; /* Active item text color */
}

.custom-admin-menu .customlinkfontsize {
  font-size: 16px; /* Adjust font size */
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
}
